<article>
  <h1 class="alert alert-success">会社紹介</h1>
  <div class="container">
    <div class="row">
      <div class="to_fuss_over col-xs-12 col-sm-6 col-md-6">
        saltのこだわり
     </div>
     <div class="col-xs-12 col-sm-6 col-md-6">
       <div class="row">
         <div class="research_and_development col-xs-12 col-sm-12 col-md-12">
           研修開発
         </div>
      </div>

      <div class="row">
         <div class="research_result col-xs-12 col-sm-6 col-md-6">
           研究結果
         </div>
         <div class="awards col-xs-12 col-sm-6 col-md-6">
           受賞歴
         </div>
       </div>
     </div>
    </div>
  </div>
</article>

<article>
  <div class="container">
    <h1>コンテンツ１</h1>
    <div class="contents">
      <ul class="row">
        <li class="col-xs-12 col-sm-6 col-md-3">contents1</li>
        <li class="col-xs-12 col-sm-6 col-md-3">contents2</li>
        <li class="col-xs-12 col-sm-6 col-md-3">contents3</li>
        <li class="col-xs-12 col-sm-6 col-md-3">contents4</li>
      </ul>
    </div>
　</div>
</article>
